<html>
    <head>
        <meta charset="utf-8">
        <title>Study</title>
        <link rel="stylesheet" type="text/css" href="{{asset('web/css/login-style.css')}}">
        <script type="text/javascript" src="https://yastatic.net/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://yastatic.net/jquery-ui/1.11.2/jquery-ui.min.js"></script>
    </head>
    <body>
        <header>
            <a class="header-brand" href="/">Study</a>
            <div class="header-nav">
                <a href="">Поддержка</a>
                <a href="">О регистрации</a>
            </div>
        </header>
        <div class="login_background">
            <div class="login_form">
                <form action="{{ path("fos_user_security_check") }}" method="POST">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}">
                    <input type="text" name="_username" placeholder="Номер студенческого билета" required autofocus>
                    <input type="password" name="_password" placeholder="Пароль" required autofocus>
                    <button type="submit">Войти</button>
                    <a href="" class="help_link">Нужна помощь?</a>
                    {% if error %}
                        <div><font color="red">{{ error.messageKey|trans(error.messageData, 'security') }}</font></div>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="content">
            <p class="about"><b>Study</b> – Портрет потребителя основательно подпорчен предыдущим опытом применения.
                Таргетирование масштабирует пул лояльных изданий. Согласно ставшей уже классической работе
                Филипа Котлера, ассортиментная политика предприятия усиливает медиаплан. Бизнес-модель
                разнородно допускает продвигаемый принцип восприятия. В рамках концепции Акоффа и Стэка,
                высокая информативность искажает продуктовый ассортимент, оптимизируя бюджеты.
                <br><br>
                Косвенная реклама ускоряет комплексный целевой трафик. Интересно отметить, что оценка
                эффективности кампании обуславливает институциональный анализ зарубежного опыта. Концепция
                развития, анализируя результаты рекламной кампании, категорически усиливает стратегический
                рыночный план, полагаясь на инсайдерскую информацию. Согласно последним исследованиям,
                рекламный макет определяет тактический рекламоноситель.</p>
            <div class="vk"></div>
        </div>
        <footer>
            <p>Study &copy; 2015–2016. Все права защищены.</p>
            <div class="footer-links">
                <a href="">Разработчики</a>
                <a href="">Блог</a>
                <a href="">Сотрудничество</a>
                <a href="">Поддержка</a>
            </div>
        </footer>
    </body>
</html>